<p><%= @skill.language %><p>

<hr>

<span class="small grayed">Description:</span>
<p><%= @skill.description %></p>

<hr>

<p class='upper-right'>
  <%= link_to "Edit", edit_skill_path %>
  <%= link_to "Delete", skill_path(@skill),
                        :data => {:confirm => "You sure?",
                                  :method => "delete"}, class: "text-danger" %>
</p>

<hr>

<% if @skill.projects.any? %>
  <p>Projects:</p>

  <ul>
    <% @skill.projects.each do |project| %>
      <li>
        <%= project.name %>
        <%= project.link %>
        <%= project.description %> |
        <%= link_to "Edit", edit_skill_project_path(@skill, project) %> |
        <%= link_to "Delete", skill_project_path(@skill, project),
                                 :data => {:confirm => "Are you sure?",
                                                :method => "delete"} %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No Projects Available</p>
<% end %>

<p><%= link_to "Return to Homepage", skills_path %></p>
